@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-VariableFont_wght.ttf') format('truetype');
}

body {
    background-image: url("../img/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Raleway', sans-serif;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

body.active {
    overflow: hidden;
    padding-right: 17px;
    margin-top: 10%;
}

#logo {
    max-width: 100px;
    margin-bottom: 20px;
}

#name {
    font-size: 24px;
    color: #fff;
    font-weight: 300;
    margin: 10px 0 30px 0;
    text-align: center;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.login-wrapper {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.login-wrapper:hover {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

#welcome {
    font-size: 25px;
    color: #333;
    font-weight: 600;
    margin: 0;
    text-align: center;
    
}

#login2 {
    font-size: 18px;
    color: #777;
    margin: 8px auto 20px auto; /* Top: 0, Bottom: 20px, Auto sides */
    width: 80%;
    text-align: center;
}

.form-container {
    margin-top: 5%;
}

.form-group {
    position: relative;
    margin-bottom: 15px;
}

.form-label {
    color: #59535A;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
}

.form-input {
    width: 100%;
    padding: 10px 10px 10px 40px;
    font-size: 16px;
    border: 1px solid #DA6F64;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-input:focus {
    border-color: #DA6F64;
    outline: none;
    box-shadow: 0 0 5px rgba(89, 83, 90, 0.5);
}

#sendemail {
    display: block;
    margin-top: 10%;
    width: 40%;
    height: 40px;
    border: none;
    border-radius: 100px;
    background: linear-gradient(90deg, #DB5D7D 0%, #DA6F65 46.5%, #E193A7 100%);
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#sendemail:hover{
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(219, 93, 125, 0.3);
}

#return {
    display: block;
    margin-top: 10%;
    width: 40%;
    height: 40px;
    border: none;
    border-radius: 100px;
    background-color: #ffe4e4;
    margin-left: auto;
    margin-right: auto;
    color: #DA6F65;
    font-size: 16px;
    cursor: pointer;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.remember-text{
     color: rgba(89, 83, 90, 0.7);
    font-size: 14px;
    font-weight: 500;
}

.remember-me {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.remember-warning {
    display: none;
    color: rgb(255, 0, 0);
    margin-top: 5px;
    font-size: 10px;
    font-weight: 500;
    font-style: italic;
}

@media (max-width: 480px) {
    #logo {
        max-width: 80px;
    }

    #name {
        font-size: 20px;
    }

    .login-wrapper {
        padding: 20px;
        margin-left: 5%;
        margin-right: 5%;
    }

    #welcome {
        font-size: 24px;
    }

    #login2 {
        font-size: 16px;
    }

    .form-label {
        font-size: 14px;
    }

    .form-input {
        font-size: 14px;
        padding: 8px 8px 8px 35px;
    }

    #sendemail {
        font-size: 16px;
        padding: 8px;
    }

    #return{
    width: 36%;
    height: 35px;
    font-size: 16px;
    }

    #sendemail{
        width: 36%;
    height: 35px;
    font-size: 16px;
    }

}
