@font-face {
    font-family: 'Raleway';
    src: url('../assets/fonts/Raleway-VariableFont_wght.ttf') format('truetype');
}

body{
    background-image: url("../assets/img/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    font-family: 'Raleway', sans-serif;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

body.active {
    overflow: hidden;
    padding-right: 17px;
    margin-top: 10%;
}

#logo {
    max-width: 100px;
    margin-bottom: 20px;
}

#name {
    font-size: 24px;
    color: #fff;
    font-weight: 300;
    margin: 10px 0 30px 0;
    text-align: center;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.login-wrapper {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    max-height: 350px;
    width: 100%;
    height: 100%;
    position: relative;
}

#welcome {
    font-size: 28px;
    color: #333;
    font-weight: 600;
    margin: 0;
    text-align: center;
}

#login2 {
    font-size: 18px;
    color: #777;
    margin-bottom: 20px;
    text-align: center;
}

.form-container {
    margin-top: 5%;
}

.form-group {
    position: relative;
    margin-bottom: 15px;
    margin-top: 10%;
}

.form-label {
    color: #59535A;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
}

.form-input {
    width: 100%;
    padding: 10px 10px 10px 40px;
    font-size: 16px;
    border: 1px solid #DA6F64;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-input:focus {
    border-color: #59535A;
    outline: none;
    box-shadow: 0 0 5px rgba(89, 83, 90, 0.5);
}

.form-group img {
    position: absolute;
    left: 10px;
    top: 65%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
}

.right-placeholder {
    position: absolute;
    right: 10px;
    padding-top: 20px;
    padding-right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: #aaa;
    pointer-events: none; /* Prevent interaction with the placeholder */
}

#error-message {
    position: absolute; /* Makes the error message float over other content */
    top: 20%; /* Adjust this value based on where you'd like the message to appear */
    left: 50%;
    transform: translateX(-50%);
    width: 100%; /* This ensures the message takes up the full width */
    text-align: center;
    z-index: 10; /* Ensures the message is on top of other elements */
    padding: 10px;
    box-sizing: border-box;
}

.resend{
    text-align: right;
}

#click{
    color: #DC7C7C;
    font-family: 'Raleway';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-right: 5%;
}

#click a{
    text-decoration: none;
    color: #DC7C7C;
}

#sendemail a{
    text-decoration: none;
    color: white;
}

#sendemail{
    display: block;
    margin-top: 10%;
    width: 40%;
    height: 40px;
    border: none;
    border-radius: 100px;
    background: linear-gradient(90deg, #DB5D7D 0%, #DA6F65 46.5%, #E193A7 100%);
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.back-to-login {
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-left: 100px;
}

.back-to-login img {
    margin-right: 8px;
}

#backlogin{
    text-decoration: none;
    color: black;
}

@media (max-width: 480px) {
    #error-message {
        top: 5%; /* Adjust as needed for mobile devices */
    }
    #logo {
        max-width: 80px;
    }

    #name {
        font-size: 20px;
    }

    .login-wrapper {
        padding: 20px;
        margin-left: 5%;
        margin-right: 8%;
    }

    #welcome {
        font-size: 24px;
    }

    #login2 {
        font-size: 16px;
    }

    .form-label {
        font-size: 14px;
    }

    .form-input {
        font-size: 14px;
        padding: 8px 8px 8px 35px;
    }

    #sendemail {
        font-size: 16px;
        padding: 8px;
    }

    .back-to-login {
        margin-top: 50px;
        margin-left: 55px;
    }
}